body{
  background-image:url(http://placebeard.it/g/640x480);

}
.form-group{
  font-weight: bolder;
  color: #fffe00;
  font-size: 20px:
}
h5{
  font-weight: bolder;
  color: #fffe00;
  font-size: 20px;
}
h1{
  font-weight: bolder;
  color: #fffe00;
  font-size: 30px;
}

button{
  border: 2px;
  margin: 2px;
  padding: 2px;
  background-color: #f9ee82;
}
.radio{
  font-weight: bolder;
  color: #fffe00;
  font-size: 20px;
}
