body{
  background-color: #80ced6;
}

span{
  float: right;
}
.tree{
  border: 2px;
  margin: 12px;
  padding: 4px;
}
button{
  border: 2px;
  margin: 2px;
  padding: 2px;
  background-color: #f9ee82;
}
